header {
    background: white;
    height: 70px;
    width: 100%;
    border-bottom: 1px solid #CCCCCC;
    position: relative;
}
header .logo {
    background: url("../images/logo.png") no-repeat;
    left: 20px;
    height: 100%;
}

#api_status {
  background-color: #cccccc;
  border-radius: 50%; /* To make it circular */
  width: 40px;
  height: 40px;
  position: absolute;
  right: 30px;
  z-index: 1;
  transform: translateY(-50%);
}

.available {
  background-color: #ff545f;
}
